<!DOCTYPE html>
<html>
<head>
<title>Isotope Examples</title>
<script src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js"></script>
<script src="/javascripts/isotope.js"></script>
<link rel="stylesheet" href="http://yui.yahooapis.com/2.8.2r1/build/reset/reset-min.css"/> 
<link rel="stylesheet" href="/stylesheets/site.css"/>
</head>
<body>

<%= yield %>

<%= isotope_included_scripts.html_safe %>
</body>
</html>
