<!DOCTYPE html>
<html>
<head>
  	<title>Rails3Example</title>
	<script src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js"></script>
	<script src="/javascripts/isotope.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
