<style>
body { background-color:#eee; }
* { font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; font-size:14px; }
.section-title { color:#39838A; font-size:20px; }

.results {}
	.results h2 { font-size:16px; }
</style>
<script>
window.addEvent("domready",function () {
	new Request.JSON({
		url:"/articles/article_object",
		onSuccess:function (data) {
			$("single").set("html",Isotope($("article-template").get("text"),{ item:data }));
		},
	}).get();

	new Request.JSON({
		url:"/articles/article_object_list",
		onSuccess:function (data) {
			$("list").set("html",Isotope($("article-template").get("text"), data));
		},
	}).get();
});
</script>

<%=Isotope.render_template(Rails.root.join('app/views/articles/article.html.ejs'), :id => "article-template").html_safe%>

<h2 class="section-title">Single Example</h2>

<div id="single" class="results"></div>

<h2 class="section-title">List Example</h2>

<div id="list" class="results"></div>